.table-div {
  padding: 20px;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: grey;
  text-align: center;

}

input {
  padding: 10px 5px;
}


th,
td {
  border-right: 1px solid black;
  padding: 5px;

}

thead {
  border: 1px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

#submit {
  padding: 10px;
}

span {
  text-align: right;
}